[submodule "externals/cmsis_device_f0"]
	path = externals/cmsis_device_f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
[submodule "externals/cmsis_core"]
	path = externals/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "externals/stm32f0xx_hal_driver"]
	path = externals/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "externals/FreeRTOS-Kernel"]
	path = externals/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "externals/circular_buffer"]
	path = externals/circular_buffer
	url = git@gitlab.com:boguszewski-master-thesis/circular_buffer.git
